#lana-wrapper {
  background-color: black;
}

#lana-mobile-nav {
  @include mobilenav;
  background-color: $gunmetal;
  a {
    color: $honeydew;
  }
}

#lana-nav {
  @include nav;
  background-color: black;
  a {
    color: $honeydew;
    &:hover {
      color: black;
    }
  }
}

#lana-header {
  @include artist-header;
  color: $honeydew;
  #hope {
    @include long-song;
  }
}

#lana-content {
  @include content;
  color: $honeydew;
}
