#nils-wrapper {
  background-color: black;
}

#nils-mobile-nav {
  @include mobilenav;
  background-color: $gunmetal;
  a {
    color: $honeydew;
  }
}

#nils-nav {
  @include nav;
  background-color: black;
  a {
    color: $honeydew;
    &:hover {
      color: black;
    }
  }
}

#nils-header {
  @include artist-header;
  color: $honeydew;
}

#nils-content {
  @include content;
  color: $honeydew;
}
