#ray-wrapper {
  background-color: $medium-jungle-green;
}

#ray-mobile-nav {
  @include mobilenav;
  background-color: $gunmetal;
  a {
    color: white;
  }
}

#ray-nav {
  @include nav;
  background-color: $medium-jungle-green;
  a {
    color: $honeydew;
    &:hover {
      color: black;
    }
  }
}

#ray-header {
  @include artist-header;
  color: white;
}

#ray-content {
  @include content;
  color: white;
}
