#rush2-wrapper {
  background-color: black;
}

#rush2-mobile-nav {
  @include mobilenav;
  background-color: $gunmetal;
  a {
    color: $honeydew;
  }
}

#rush2-nav {
  @include nav;
  background-color: black;
  a {
    color: #C5C5C5;
    &:hover {
      color: black;
    }
  }
}

#rush2-header {
  @include artist-header;
  color: #C5C5C5;
}

#rush2-content {
  @include content;
  color: #C5C5C5;
}

.neil-gallery {
  color: #C5C5C5;
  padding: 3em 2em 5em 2em;
  height: auto;
  width: 100%;
  h2 {
    font-family: 'Odibee Sans', cursive;
    letter-spacing: .12em;
    line-height: 1.3em;
  }
  .neil1 {
    @include neil-images2;
  }
  .neil2 {
    @include neil-images;
  }
  .neil3 {
    @include neil-images2;
  }
  .neil4 {
    @include neil-images;
  }
}
