#temp-wrapper {
  background-color: $sea-blue;
}

#temp-mobile-nav {
  @include mobilenav;
  background-color: $sea-blue;
  a {
    color: $marigold;
  }
}

#temp-nav {
  @include nav;
  background-color: $sea-blue;
  a {
    color: $marigold;
    &:hover {
      color: $cinnamon-satin;
    }
  }
}

#temp-header {
  @include artist-header;
  color: $marigold;
  #backseat {
    @include long-song;
  }

}

#temp-content {
  @include content;
  color: $marigold;
  #carly {
    @include feat-artist;
    width: 20vw;
    @media screen and (max-width: 600px) {
      display: flex;
      margin: 2em 0 2em;
      width: 70%;
      float: none;
    }
  }
  #easyfun {
    @include feat-artist;
    float: left;
    margin: .5em 1.2em 1em 0;
  }
  #agcook {
    @include feat-artist;
    width: 30vw;
    @media screen and (max-width: 600px) {
      display: flex;
      margin: 2em 0 2em;
      width: 87%;
      float: none;
    }
  }
}
