//Variables//

//margins//
$a-header: 5em 2em 3em 3em;
$content: 0 3em 0em 3em;
$mobile-content: 0 1.5em 0 1.5em;

//colors//
$queen-blue: #477998;
$rich-black: #030726;
$purple-taupe: #45364B;
$isabelline: #F3E8EE;
$phthalo-green: #122C34;
$boysenberry: #893168;
$russian-violet: #4A1942;
$gunmetal: #273043;
$honeydew: #EFF6EE;
