//Variables//

//margins//
$a-header: 5em 2em 3em 3em;
$content: 0 3em 0em 3em;
$mobile-content: 0 1.5em 0 1.5em;

//colors//
$taupe-gray: #8d918b;
$cinnamon-satin: #c76d7e;
$stormcloud: #526567;
$dark-pastel-red: #C14A23;
$pacific-blue: #2C9AC4;
$sea-blue: #05668d;
$black-leather-jacket: #283430;
$white-smoke: #F5F6FA;
$light-grey: #d4d4d8;
$ceil: #878FD1;
$tea-rose: #e5c2c0;
$dark-slate-grey: #2e5266;
$middle-red: #e2856e;
$dark-sienna: #32161f;
$mardi-gras: #8D197B;
$maximum-red: #D3221F;
$midnight-blue: #1B0B5C;
$brass: #bfae48;
$wild-blue-yonder: #9AB5D7;
$middle-green-yellow: #A8A860;
$lapis-lazuli: #306BAD;
$black-olive: #393e41;
$platinum: #dfe0e2;
$pastel-blue: #A7C8CE;
$raspberry-glace: #84596b;
$baby-powder: #FCFCFC;
$majorelle-blue: #5F58EE;
$pale-chestnut: #dbb3b1;
$tyrian-purple: #420039;
$queen-blue: #477998;
$marigold: #E1A126;
$cambridge-blue: #94b9af;
$red-devil: #870C12;
$blue-sapphire: #065a82;
$pink-orange: #FC9864;
$nickel: #6b6d76;
$yankees-blue: #151e3f;
$spanish-gray: #94958b;
$glossy-grape: #9d96b8;
$light-blue: #afd2e9;
$pale-silver: #C8BFC7;
$tigers-eye: #D78838;
$sienna: #82341B;
$desert-sand: #F1C8AE;
$pale-cerulean: #9ABFD8;
$maastrich-blue: #0E1630;
$misty-rose: #fde8e9;
$dark-imperial-blue: #1b4965;
$snow: #fffcf7;
$pearl-aqua: #81d2c7;
$deep-tuscan-red: #684756;
$dust-storm: #E3C5BB;
$smoky-black: #0A0509;
$rich-black: #030726;
$rackley: #5F829C;
$byzantine: #B94399;
$pale-aqua: #BFDBF7;
$cadet-grey: #8D9DAE;
$gainsboro: #DADDD8;
$eerie-black: #22181C;
$tuscan: #EED4A2;
$puce: #c6878f;
$cedar-chest: #c05746;
$tropical-rainforest: #00635D;
$periwinkle: #CAE5FF;
$purple-taupe: #45364B;
$isabelline: #F3E8EE;
